h{text-align:center}
h3{text-align:center}
h4{text-align:center}
body{text-align:center}
body2{text-align:justify}
body{background: #B8E2F2}
h1{color: White}
h4{font-size: 20px}
#poop{border: 5px groove black}
#slay{border:5px groove black}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 80px;
  margin-left: 80px;
}
